<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Address</title>
</head>
<body>
     {% block content %}
<!-- h1>Results ... </h1>
     Name : {{ name }}
     Phone : {{ phonenumber }}
<br -->
    <table border="2">
     <tr>
        <td>SL No </td> <td> Name </td> <td> Cell Phone </td> <td> Extension </td> <td> Official Email </td> <td>Address</td>
    </tr>
   <tr>
        <td>{{slno}} </td> <td> {{name}} </td> <td> {{phonenumber}} </td> <td> {{extension}} </td> <td> {{email}} </td> <td>{{address}}</td>
    </tr>

        <tr>
        <td>{{AddressData.slno}} </td> <td> {{AddressData.name}} </td> <td> {{AddressData.phonenumber}} </td> <td> {{AddressData.extension}} </td> <td> {{AddressData.email}} </td> <td>{{AddressData.address}}</td>
    </tr>
        {% for AddressDisplay in AddressData.objects %}
         <tr>
        <td>{{AddressDisplay.slno}} </td> <td> {{AddressDisplay.name}} </td> <td> {{AddressDisplay.phonenumber}} </td> <td> {{AddressDisplay.extension}} </td> <td> {{AddressData.email}} </td> <td>{{AddressData.address}}</td>
    </tr>
        {{AddressDisplay}}
        {% endfor %}

    </table>
     <div>
         Print Name : {{name}}
     </div>
     <div>
        Print Name : {{AddressData.name}}
     </div>
    {% endblock %}


</table>
</body>
</html>